<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Регистрация</title>
    <!--  Подключение стилей  -->
    <style>{ /** @var \Base\View $this */$this->renderStyle(); }</style>
</head>